* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    border-radius: 5px;
    width: 150px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 35;
    background: #FD6E0A;
}


#nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /* height: 837px; */
}

/* bannner */
.banner {
    display: flex;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    /* color: #757575; */
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

